/*** Global ***/
body{
  margin: 0;
  color: #333;
  font-size: 7.5pt;
  font-family: sans-serif;
}

/*** Showcase ***/
#showcase{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  color: #ccc;
  background:#313131;
}
#showcase.人{background:#000031;}
#showcase.神{background:#003100;}
#showcase.魔{background:#310000;}

#card_img{
  width: 320px;
  height: 400px;
  clear: both;
}
#card_desc{
  width: 320px;
  font-size: 9pt;
}


/*** Container ***/
#container{
  display: none; /* Hide it until table rendered. */
  color: #eee;
  background: #313131;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#filter{
  position: fixed;
  width: 100%;
}

#list{
  margin-top: 18.5px;
  width: 100%;
}

/*** Filter ***/
#filter select,
#filter button{
  display: inline;
  vertical-align: middle;
}

/*** Card list ***/
#card_list{
  width: 100%;
  border-collapse: collapse;
}

#card_list thead{

}
#card_list tbody{

}

.raw_order_str  {width: 3%; min-width: 3em;}
.name       {width: 23%; min-width: 23em;}
.element_name     {width: 3%; min-width: 3em;}
.rarity_name_short{width: 3%; min-width: 3em;}
.attack     {width: 4%; min-width: 4em;}
.attack_max {width: 4%; min-width: 4em;}
.defence    {width: 4%; min-width: 4em;}
.defence_max{width: 4%; min-width: 4em;}
.cost       {width: 3%; min-width: 3em;}
.skill_name {width: 21%; min-width: 21em;}
.skill_desc {width: 28%; min-width: 28em;}

#card_list thead th{
  color: #ffff00;
}
#card_list tbody tr:hover{
  color: #f0f0f0;
  background: #0f0f0f;
}
#card_list tbody tr.filtered_out{
  display: none;
}

#card_list td,
#card_list th{
  border: 1px dotted grey;
}
#card_list td.人{color: #6496ea;}
#card_list td.神{color: #96ea64;}
#card_list td.魔{color: #ea6496;}
#card_list td.element_name,
#card_list td.rarity_name_short{
  text-align: center;
}
#card_list td.raw_order,
#card_list td.attack,
#card_list td.attack_max,
#card_list td.defence,
#card_list td.defence_max,
#card_list td.cost{
  text-align: right;
}